.side-bar
  .side-bar__side-top
    .side-bar__box
      .side-bar__masa
        masa
      .side-bar__aikon
        = link_to "#" do
          = icon('fas', 'edit', class: 'icon')
          = icon('fas', 'cog', class: 'icon')
 
  .side-bar__side-content
    .side-bar__side-bigbox
      .side-bar__techcamp
        techcamp
      .side-bar__message
        まだメッセージがありません